#printBtn {
    color: white;
    background-color: rgb(23, 155, 36);
    border-radius: 7px;
    align-items: center;
}

#printBtn:hover {
    color: white;
    background-color: rgb(92, 234, 107);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

/* nav bar ################################################################################################# */
header {
    background-color: rgb(143, 232, 241);
    height: 10vh;
}

header nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav h1 {

    font-size: 2rem;
}

nav a {
    display: flex;
    text-decoration: none;
}

.lg-btn {
    display: flex;
}

#swiss {
    color: rgb(247, 7, 118);

}

#bank {
    color: white;

}

nav .reg-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav .reg-btn img {
    width: 50px;
    display: flex;
}

nav .reg-btn .lg-btn .log-btn {
    padding: 11px 9px;
    background-color: rgb(22, 33, 70);
    color: #fff;
    font-weight: 400;
    border-radius: 5px;
    text-decoration: none;
    width: 45%;
}


a.log-btn {

    margin-left: 22px;
}

a.log-btn:hover {
    background-color: rgb(14, 180, 14);
}


main {
    background-image: url("/static/images/bankbg.avif");
    background-size: cover;
    height: 100%;
}

/* home page ################################################################################################ */
.sec-index {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: start;

}

.bg-btn {
    padding-top: 200px;
    padding-left: 100px;
}

.bg-btn a:hover {
    background-color: rgb(143, 232, 241);
}

nav {
    margin-bottom: 200px;
}

.sec-index .bg-img img {

    width: 45vw;
}

.sec-index a {
    text-align: center;
    display: block;
    margin-bottom: 20px;
    width: 110%;
    padding: 10px 20px;
    background-color: rgb(22, 33, 70);
    color: #fff;
    font-weight: 400;
    border-radius: 5px;
    text-decoration: none;
}



/* login and registraction form ############################################################################ */


.sec-regi {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(22, 33, 70);
    padding: 0 20px;
}

.sec-regi .container {
    margin: 50px;
    position: relative;
    max-width: 700px;
    width: 110%;
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container h1 {
    font-feature-settings: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.container .form {
    margin-top: 30px;
}

.form .input-box {
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    color: #333;
}

.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
}

.form .column {
    display: flex;
    column-gap: 15px;
}

.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .gender-box {
    margin-top: 20px;
}

.gender-box h3 {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.form .gender {
    column-gap: 5px;
}

.form :where(.gender, input, label) {
    cursor: pointer;
}

.address :where(input, .select-box) {
    margin-top: 15px;
}

.select-box select {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    color: #707070;
    font-size: 1rem;
}

.form button {
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    margin-top: 30px;
    border-radius: 6px;
    background-color: rgb(130, 106, 251);
    cursor: pointer;
}

.form button:hover {
    background-color: rgb(80, 56, 250);
}

.user-info button {
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    margin-top: 30px;
    border-radius: 6px;
    background-color: rgb(80, 56, 250);
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }
}



/* send money page #################################################################################### */
.sec-wid {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 100px;
}

.sec-wid .send-money {
    margin-top: 100px;
    padding: 20px;
    width: 85%;
    margin-left: 1%;
    /* height: 50vh; */
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.send-money form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.send-money .wid-input {
    margin-top: 30px;
}

.send-money .wid-input input {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
}

.send-money form button {
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 20px;
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    margin-top: 30px;
    border-radius: 6px;
    background-color: rgb(130, 106, 251);
}


/* Transaction page */
table,
th,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    border-color: grey;
}

table tr th {
    background-color: black;
    color: white;
}

table tr:nth-child(even) {
    background-color: #D6EEEE;
}

/* userinfo page ############################################################################### */
.sec-debitcard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(203, 236, 244);
    padding: 50px;
}

.sec-debitcard .container {
    display: none;
    padding: 25px;
    position: relative;
    /* background-image: url("/static/images/bg.png"); */
    background-size: cover;
    max-width: 380px;
    border-radius: 28px;
    width: 100%;
    /* height: 185px; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.debitcard,
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 48px;
    margin-right: 10px;
}

.container h5 {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.debitcard .chip {
    width: 60px;
}

.card-details h6 {
    color: #fff;
    font-size: 10px;
    font-weight: 400;
}

.card-details h5.number {
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: 1px;
}

.card-details h5.name {
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 1px;
}

.container .card-details {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.sec-debitcard .container.cardNone {
    display: block;
    background-color: black;
}